PORT=5000
NODE_ENV=development
DATABASE_URL="file:./dev.db"

JWT_SECRET="finsec_super_secret_jwt_access_token_key_2026_xyz_secure"
JWT_REFRESH_SECRET="finsec_super_secret_jwt_refresh_token_key_2026_abc_secure"
HMAC_SECRET="finsec_hmac_request_signing_secret_key_2026_default"

# WebAuthn RP Configuration
RP_ID="localhost"
RP_NAME="FinSec ZeroTrust"
ORIGIN="http://localhost:5173"

# Optional Gemini API Key (Users can also supply their own in Profile settings)
GEMINI_API_KEY=""
